/* RESET GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* CONFIGURANDO CORPO DO CODIGO */
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18181b;
}

#container{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

#img img{
    width: 32rem;
}

#calculator{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color: #262626;
    border-radius: 8px;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title{
    font-size: 2.25rem;
    position: relative;
}

#title::after{
    width: 8rem;
    height: 3px;
    content: '';
    position: absolute;
    background-color: #FFAE30;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.input-box label{
    font-size: 1.1rem;
    color: #cbd5e1;
    font-weight: 500;
}

.input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}

.input-field span,
.input-field i {
    color: #cbd5e1;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-field input{
    width: 100%;
    color: #f8fafc;
    padding: 0 0.5rem;
    font-size: 1.3rem;
    border: none;
    background-color: transparent;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    appearance: none;
}

.input-field input:focus{
    outline: none;
}

#calculate{
    border: none;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: #FFAE30;
    color: #f8fafc;
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}

#calculate:hover{
    background-color: #ec9202;
    color: #fff;
}

#result{
    display: flex;
    align-items: center;
    gap: 2rem;
    border-top: 1px solid #ffffff34;
    padding: 0.75rem 0;
}

#bmi{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}

#bmi span:last-child{
    font-size: 0.87rem;
    color: #cbd5e1;
}

#description{
    width: 15.5rem;
}

#more-info{
    border-top: 1px solid #ffffff34;
    padding-top: 1.5rem;
}

#more-info a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    color: #FFAE30;
    font-size: 0.9rem;
    text-decoration: none;
    transition: 0.5s;
}

#more-info a:hover{
    color: #cbd5e1;
}

.hidden{
    display: none;
}

.normal{
    color: greenyellow;
}
.atencao{
    color: red;
}


/*cor da img svg #00DE86 | #FFAE30 */